<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>canelones de carne y acelga mg</title>
</head>
<body>
    <H1> <u> canelones de carne y acelga</u></H1>
    <p><b>una receta infaltable en tu menú, ideal para compartir en familia!</b></p>
     <img src="../img/canelones de carne y acelga .jpg " height="200" width="500" alt="imagen de canelones de carne y acelga">
        <br>
         <h3> <u>ingredientes</u></h3>
         <ul type="square"> 
             <li>masas cocidas </li>
             <li>aceite de oliva, c/n </li>
             <li>1/2 de cebolla, 1/2 de morrón, un diente de ajo</li>
             <li>sal y pimienta a gusto</li>
             <li>300 g de carne picada</li>
             <li>un atado de acelga , aji molido , pimenton</li>
             <li>100 gr de queso rallado</li>
         </ul>
            <h3> <u>para la salsa</u></h3>
            <ul type="square">
                <li>300gr de pure de tomates</li>
                <li>sal,azucar,pimienta y ajo</li>
                <li>queso provolone rallado</li>
                </ul>
                 <hr>
             <iframe width="500" height="200" src="https://www.youtube.com/embed/5E3kLaBh70s" title="Cucinare TV - &quot;Canelones de carne y acelga&quot;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
             <h3> <u>preparación</u></h3>
            <ol>
                <li>hervir la acelga,escurrir, picar y reservar.</li>
                <li>saltear la cebolla el morron y el ajo.</li>
                <li>agregar la carne y condimentar.</li>
                <li>luego la acelga y mezclar.</li>
                <li>apagar y agregar el queso rallado.</li>
                <li>para la salsa , dorar el ajo picado,<br>
                     agregar la salsa y condimentar.</li>
                 <li>rellenar los canelones, llevarlos a una placa <br>
                    por encima colocarle la salsa y queso rallado.</li>
                <li>cocinar 15 minutos a horno moderado.</li>
                <li>listo para emplatar y disfrutar </li>
            </ol>
            <a href="../../index.html">ir a pagina príncipal</a>
</body>
</html>