<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>volcan de chocolate mg</title>
    <link rel="stylesheet" href="../css/stylo.css">
</head>
<body>
    <h1 id="titulo"><u>volcan de chocolate</u></h1>
    <p><b>¡Siempre que compartimos una delsiciosa comida es fundamental acompañar esa comida con un postre <br>
        riquisimo de chocolate!</b>  </p>
     <img src="../img/volcan de chocolate.jpg" width="500" height="200" alt=" imagen de volcan de chocolate">
   
     <h2 class="subtitulos"> <u>ingredientes</u></h2>
    <ul type="square">
        <li>2 huevos.</li>
        <li>2 yemas.</li>
        <li>90 grs de azúcar.</li>
        <li>150 grs chocolate.</li>
        <li>100 grs de manteca.</li>
        <li>harina 2 cucharadas.</li>
        </ul>
        <hr>
        <h3 class="subtitulos"><u>preparación</u></h3>
        <iframe width="500" height="200" src="https://www.youtube.com/embed/B3Q_alISfY8" title="Grandioso volcán de chocolate en 5 pasos (Parte 1)." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <ol>
            <li>Derretir a fuego bien bajo la manteca junto con el chocolate, revolviendo para que el chocolate no se pegue.
            </li>
            <li>Batir los huevos y las yemas junto con el azúcar a blanco, hasta disolver los cristales de azúcar.
            </li>
            <li>Incorporar el chocolate y la manteca derretidos al batido de huevos, yemas y azúcar. Unir bien.</li>
            <li>Agregar las cucharadas de harina y revolver hasta incorporar.
            </li>
            <li>Enmantecar y espolvorear con chocolate en polvo los moldes, y llenarlos hasta la mitad, ya que en el horno crecen. <br>
                 Hornear de 8 a 10 minutos a 200°C. No debe quedar sólido en el centro, Al sacar del horno dejar reposar 5 minutos.  <br>
                 Pasar muy suavemente un cuchillo por las paredes del molde, para terminar de desprender todo y desmoldar directamente en el plato donde va servido. <br>
                  Como el interior es líquido, no soporta que se mueva mucho.</li>
        </ol>
        <h3 class="subtitulos"> ¡¡acompañar con crema y frutillas!! </h3>
        <a href="../../index.html"> ir a pagina príncipal</a>
</body>
</html>